#profile-img{
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#principal{
    padding-top: 50px;
}

#principal h1{
    text-align: center;
    padding-bottom: 20px;
}

table{
    text-align: center;
}

table thead th{
    text-align: center;
}

.filtro{
    padding-bottom: 20px;
    text-align: center;
}

.imgMuestra{
    width: 300px;
}